<div ng-app="btcdash">
  <div class="view-container">
    <header class="row">
      <h1 class="text-center col-sm-6 col-sm-offset-3 dash-header">Bitcoin Dashboard</h1>
    </header>

  <bitcoin-dashboard update-frequency="15000">
    <bitcoin-ticker currency-id="cad" ethnicity="Canadian" currency-symbol="&dollar;"></bitcoin-ticker>
    <bitcoin-ticker currency-id="cny" ethnicity="Chinese" currency-symbol="&yen;"></bitcoin-ticker>
    <bitcoin-ticker currency-id="gbp" ethnicity="English" currency-symbol="&pound;"></bitcoin-ticker>
  </bitcoin-dashboard>
  </div>
</div>