<header class="row">
  <h1 class="text-center col-sm-6 col-sm-offset-3 dash-header">Bitcoin Dashboard</h1>
</header>

<div ng-controller="PriceController">
  
  <div class="row">
    
    <div class="col-sm-4 col-sm-offset-2">
      <div class="straight-edge well text-center">
        <h2 class="currency-header"><img src="assets/cad.png" alt="Canadian Flag"> CAD <i class="fa fa-usd fa-1x"></i>/<i class="fa fa-btc fa-1x"></i></h2>
        <div class="price-box">
          <h1 id="cad">{{cad| currency}}</h1>
        </div>
        <p class="littlegrey">Previous: {{ prevCad | currency }}</p>
        <div class="row">
          <div class="col-sm-6">
            <h3>{{cadChange}} <i id="cad-change" class="fa fa-1x"></i></h3>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-sm-4">
      <div class="straight-edge well text-center">
        <h2 class="currency-header"><img src="assets/cny.png" alt="Chinese Flag"> CNY <i class="fa fa-cny fa-1x"></i>/<i class="fa fa-btc fa-1x"></i></h2>
        <div class="price-box">
          <h1 id="cny">{{cny | currency : "&yen;" }}</h1>
        </div>
        <p class="littlegrey">Previous: {{ prevCny | currency : "&yen;" }}</p>
        <div class="row">
          <div class="col-sm-6 col-sm-offset-6">
            <h3>{{cnyChange}} <i id="cny-change" class="fa fa-1x"></i></h3>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
      <h4>Last Updated at: {{time | date:'medium'}} <i class="changeme"></i></h4>
    </div>
  </div>

</div><!-- End PriceController  -->
<div class="row">
  <div class="text-center col-sm-offset-4 col-sm-4">
    <p class="littlegrey">The Bitcoin Dashboard grabs price data from <a href="https://www.bitcoinaverage.com">https://www.bitcoinaverage.com</a> every 15 seconds. In the event of the API becoming unresponsive the most recently stored price will be displayed.</p>
  </div>
</div>

