// Place all the styles related to the prices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #5ECED6;
  font-family: 'Bench Nine', sans-serif;
}

.straight-edge {
  border-radius: 0px;
  background-color: #B2D6D9;
  border: 2px solid white;
}

.currency-header {
  color: #F5B427;
  text-shadow: 1px 1px black;
}

.dash-header {
  font-family: 'Luckiest Guy', cursive;
  color: #F5B427;
  text-shadow: 1px 1px black;
}

.littlegrey {
  font-size: 0.8em;
  color: grey;
}

.price-box {
  height: 45px;
}